@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

/* Config body */
body {
  font-family: "Roboto", Roboto Slab;
  background-color: #f8f9fa;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
 }

/* Title */
h1 {
  font-size: 28px;
  font-weight: 700;
  color: #333;
  text-align: center;
  margin-bottom: 15px;
}

h2 {
  font-size: 25px;
  font-weight: 600;
  color: #444;
  text-align: center;
  margin-bottom: 10px;
}


/* Main conteiner */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: 900px;;
  padding: 20px;
}

/* Form configuration */
form {
  background-color: #f8f9fa;
  padding: 25px;
  border-radius: 10px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  gap: 12px;
  width: 820px;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 10px;
  padding: 10px;
}

/* textarea config */
input, textarea, select {
  width: 97%;
  padding: 10px;
  border: 2px solid #ced4da;
  border-radius: 10px;
  font-size: 14px;
  transition: all 0.3s ease-in-out;
}

/* Focus config */
input:focus, textarea:focus, select:focus {
  border-color: #80b3ff;
  box-shadow: 0 0 8px rgba(0, 123, 255, 0.2);
  outline: none;
}

/* Btn */
button {
  padding: 12px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  border-radius: 6px;
  transition: all 0.3s ease;
  text-transform: uppercase;
}

/* Btn add */
button[type="submit"] {
  background-color: #5bc0de;
  color: white;
  box-shadow: 0px 4px 8px rgba(91, 192, 222, 0.2);
}

button:hover {
  opacity: 0.9;
  transform: scale(1.02);
}

/* Produt Table */
table {
  width: 98%;
  border-collapse: collapse;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.5);
  background: white;
  border-radius: 8px;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
  padding: 10px;
}

th, td {
  border: 1px solid #e1e7ed;
  padding: 12px;
  text-align: center;
  font-size: 14px;
}

/* Cabeçalho da tabela */
th {
  background-color: #6c757d;
  color: white;
  font-weight: 600;
}

/* Linhas da tabela */
td {
  background-color: #f8f9fa;
}

/* Botão de deletar */
.delete-btn {
  background-color: #f28c8c;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.delete-btn:hover {
  background-color: #e53935;
  transform: scale(1.05);
}

/* Update btn */
.update-btn {
  background-color: #81c784;
  color: white;
  padding: 8px 12px;
  border-radius: 5px;
  font-size: 14px;
  font-weight: 500;
}

.update-btn:hover {
  background-color: #388e3c;
  transform: scale(1.05);
}

/* Container actions */
.actions {
  display: flex;
  gap: 8px;
  justify-content: center;
}

/* Modal update */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal-content {
  background: white;
  padding: 15px;
  border-radius: 8px;
  width: 600px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.close-btn {
  position: absolute;
  top: 5px;
  right: 10px;
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

.modal-content h2 {
  margin-bottom: 10px;
  font-size: 18px;
}

.modal-content form {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.modal-content input,
.modal-content textarea,
.modal-content select {
  width: 100%;
  padding: 5px;
  margin-bottom: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

.modal-content button {
  padding: 8px;
  border: none;
  background-color: #5bc0de;
  color: white;
  font-size: 14px;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 5px;
}

.modal-content button:hover {
  background-color: #81c784;
}

/* Footer Style */
footer {
  height: 300px;
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

footer .footer-content {
  z-index: 5;
  color: grey;
  padding: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  border-radius: 5px;
}

/* Popup */
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.popup {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  text-align: center;
  width: 300px;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.3);
}

.popup.success {
  border: 2px solid green;
}

.popup.error {
  border: 2px solid red;
}

button {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  margin-top: 10px;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}



